@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
:root {
    --color-bg: #151612;
    --color-text: #EEE5E5;
    --color-accent: #28AFB0;
    --color-dark-accent: #19647E;
    --color-error: #F84049;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Nunito Sans';
}

h1 {
    text-align: center;
}

#main {
    width: 60%;
    margin: auto;
    display: flex;
}

#sidebar {
    width: 30%;
    border-right: 2px solid var(--color-accent);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

input {
    outline: none;
    padding: .5em;
}

input:focus {
    border: 1px solid var(--color-dark-accent);
}

.in {
    margin-top: 1em;
}

#err {
    color: var(--color-error);
}

button {
    margin-top: 1em;
    width: 150px;
    height: 50px;
    background-color: var(--color-bg);
    border: 2px solid var(--color-text);
    color: var(--color-text);
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
}